

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

html, body, #app{
    height: 100%;
    margin: 0;
  }
  
#app {
    font-family: 'Barlow Semi Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .connect{
    height:100%;
    background: #34495E;
  }

.mainFormEnter{
    display : flex;
    flex-direction: column;
    justify-content: center;
    grid-gap:5px;
    }

@media screen  and (min-width: 482px){
.mainFormEnter{
    display : flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;

}
}
.signUp, .signIn{
    background : #5DADE2;
    width : 300px;
    height: fit-content;
    padding : 10px;
    transition:all .5s ease;
}
.signUp:focus-within, .signIn:focus-within{
    width:500px;    
}
.formUp, .formIn{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: grid;
    grid-template-rows : minmax(70px,20%) minmax(360px,80%);
    grid-template-columns: 100%;
    grid-gap : 10px;
    width:100%;
    justify-content: center;
    align-items: end;
}
form{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: grid;
    grid-template-rows : repeat(6,minmax(50px,10%));
    grid-template-columns: 100%;
    grid-gap : 10px;
    width:100%;
    justify-content: center;
    align-items: center;
}
.formIn div:last-child{
    grid-row: 6;
}

.itemInput > input, .itemInput{
    height:100%;
    width : 100%;
    box-sizing: border-box;
}

.itemInput input{
    background-color: white;
    border:none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.itemInput input:focus{
    background: #EBF5FB;
    outline:solid 2px #A3E4D7;
}
.itemInput input[type='submit']{
    background-color : #F7DC6F;
    border : none;
}
.itemInput input[type='submit']:active{
    background-color : #A9DFBF;
    border:none;
    
}

.subscribeHeader{
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    height : 100%;
    width : 100%;
    align-items:center;
}

.registerOne h3{
    font-size : 2rem;
    margin:0;
}
.registerOne h6{
    margin:0;
    float:left;
}
.errors{
    margin-bottom: 0;
    list-style-type: none;
    text-align: left;
    padding-left:0;
    color : #CB4335;
}
