@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

body{
    background-color : #003567 ;
    font-family: 'Sintony', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
#accordionExample{
    display: grid;
    grid-template-columns: minmax(500px, 50%) minmax(300px,30%);
    grid-gap : 20px;
    justify-content: center;
    color : white;
}

.card{
    border-radius : 10px;
    box-shadow: 0px 0px 44px 8px rgba(0,49,94,1);
    background-color: #004b8f;
    border : none;
}

.card-header:first-child{
    background-color: rgba(0,49,94,1);
    border-radius : 10px 10px 0 0 ;
}

